/* 
Description: StageShow Admin Style Sheet
 
Copyright 2012 Malcolm Shergold

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

*/


#adminmenu #toplevel_page_sshow_adminmenu div.wp-menu-image,
#oam_toplevel_page_sshow_adminmenu div.wp-menu-image {
	background: transparent url('../images/stageshow16grey.png') no-repeat scroll 6px 6px;
}

#adminmenu #toplevel_page_sshow_adminmenu:hover div.wp-menu-image,
#adminmenu #toplevel_page_sshow_adminmenu.wp-has-current-submenu div.wp-menu-image,
#adminmenu #toplevel_page_sshow_adminmenu.current div.wp-menu-image,
#oam_toplevel_page_sshow_adminmenu:hover div.wp-menu-image {
	background: transparent url('../images/stageshow16colour.png') no-repeat scroll 6px 6px;
}

#icon-stageshow  {
    background: transparent url(../images/stageshow32grey.png) no-repeat;
}

/* ----------------------------------------------------------------------------------------------------------------
	Styles for "Options" button
---------------------------------------------------------------------------------------------------------------- */

a.more-button
{
	XX_background: url("../images/menu-bits.gif") repeat-x scroll left -379px #EEEEEE;
	background-color:#EEEEEE;
	border-color: #E3E3E3;
	border-radius: 11px 11px 11px 11px;
	border-style: solid;
	border-width: 2px;
	padding: 5px 5px 5px 5px !important;
}

.optionsCol
{
	margin: 5px 5px 5px 5px !important;
}

/* ----------------------------------------------------------------------------------------------------------------
	Styles for Admin Tables
---------------------------------------------------------------------------------------------------------------- */

div.stageshow-admin-form
{
	padding: 0 0 20px 0;
	border-bottom: 1px solid #DFDFDF;
	margin: 0 0 20px 0;
}

div.stageshow-edit-planref
{
	font-size: 16px;
	font-weight: bold;
}

tr.buttons-ourbutton
{
	background-color: #E4DF54;
}

/* ----------------------------------------------------------------------------------------------------------------
	Styles for "Hidden" rows
---------------------------------------------------------------------------------------------------------------- */

.hiddenRow td
{
	border-color: #F9F9F9;
}

.hiddenRow th input 
{
    margin: 0;
}

/* ----------------------------------------------------------------------------------------------------------------
	Styles for Debug Messages
---------------------------------------------------------------------------------------------------------------- */

.xdebug-error {
    font-size: 16px;
}

.wrap h2
{
	padding-bottom: 20px;
}	

div.noconfig 
{
	padding-bottom: 20px;
}