/* 
Description: StageShow Runtime Style Sheet
 
Copyright 2012 Malcolm Shergold

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

*/

td.stageshow-boxoffice-perfnote
{
	text-align: left !important;
	align: left;
}

#content .stageshow-boxoffice,
#content .stageshow-boxoffice div,
#content .stageshow-boxoffice table,
#content .stageshow-boxoffice tr,
#content .stageshow-boxoffice td,
#content .stageshow-boxoffice select
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border: 0 none;
	text-align: left;
}

/* Disable Qty drop down box and Add button in Box Office */
.stageshow-boxoffice-qty,
.stageshow-boxoffice-add
{
	/* display:none; */
}

#content .stageshow-boxoffice input
{
	margin: 0 0 0 0;
	text-align: left;
}

#content .stageshow-boxoffice td
{
	text-align: center;
}

