
	#content .stageshow-boxoffice,
	#content .stageshow-boxoffice div,
	#content .stageshow-boxoffice table,
	#content .stageshow-boxoffice tr,
	#content .stageshow-boxoffice td,
	#content .stageshow-boxoffice select
	{
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		border: 0 none;
		text-align: left;
	}
	#content .stageshow-boxoffice input
	{
		margin: 0 0 0 0;
		text-align: left;
	}
	#content .stageshow-boxoffice td
	{
		text-align: center;
	}

